<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ht-srms :: 이용자 관리</title>
    <%- include("../libs/libsStyles.ejs") %>
    <link rel="stylesheet" href="/static/css/admin/user-manage.css">
</head>

<body>
    <%- include("../header.ejs") %>
    <div class="main">
        <%- include("../aside.ejs") %>
        <section class="container">
            asfdasdasd
        </section>
    </div>

    <%- include("../libs/libsScript.ejs") %>
    <script type="module" src="/static/js/admin/user-manage-script.js"></script>
</body>

</html>