<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ht-srms :: 전체 대여 현황</title>
    <%- include("../libs/libsStyles.ejs") %>
    <link rel="stylesheet" href="/static/css/allrent/allrent-status.css">
</head>

<body>
    <%- include("../header.ejs") %>
    <div class="main">
        <%- include("../aside.ejs") %>
        <section class="container">
            <article>
                <span>📚 전체 대여 현황</span>
            </article>
            <article class="roundBox"></article>
        </section>
    </div>

    <%- include("../libs/libsScript.ejs") %>
    <script type="module" src="/static/js/allrent/allrent-status-script.js"></script>
</body>

</html>