<aside>
    <img id="aside-img"src="/static/images/clovine-char.png" alt="" onclick="">
    <% 
        const roles = userInfo.userRole;
        if(roles.admin === false){ %>
            <a class="item-manage sidebar-select" href="/item-manage-page">
                <div class="item-manage sidebar-option">물품 관리</div>
            </a>
            <% if(roles.read === true){ %>
                <a class="allrent-status sidebar-select" href="/allrent-status-page">
                    <div class="allrent-status sidebar-option">전체 대여 현황</div>
                </a>   
            <% }else if(roles.rent === true){ %>
    
            <% }else if(roles.write === true){ %>
                
            <% }else if(roles.edit === true){ %>
            
            <% }
        }else{ %>
            <a class="item-manage sidebar-select" href="/item-manage-page">
                <div class="item-manage sidebar-option">물품 관리</div>
            </a>
            <a class="myrent-status sidebar-select" href="/myrent-status-page">
                <div class="myrent-status sidebar-option">나의 대여 현황</div>
            </a>
            <a class="allrent-status sidebar-select" href="/allrent-status-page">
                <div class="allrent-status sidebar-option">전체 대여 현황</div>
            </a>
            <a class="user-manage sidebar-select" href="/user-manage-page">
                <div class="user-manage sidebar-option">이용자 관리</div>
            </a>
    <% } %>
</aside>