<header>
    <nav class="srms-header">
        <div class="header-left">
            <a href="/item-manage">
                <img src="/static/images/ht-SRMS width.png" alt="">
            </a>
        </div>
        <div class="header-center"></div>
        <div class="header-right"></div>
    </nav>
</header>