<header>
    <nav class="srms-header">
        <div class="header-left">
            <a href="/item-manage-page">
                <img src="/static/images/ht-SRMS width.png" alt="">
            </a>
        </div>
        <div class="header-center">
            <% if(userInfo) {%>
                <span class="header-text"><%= userInfo.userName%>님 환영합니다</span>
                <span class="header-text">사번 : <%= userInfo.userId%></span>
                <input type="hidden" name="_id" value=<%= userInfo._id %>>
            <% } %>
        </div>
        <div class="header-right">
            <% if(userInfo) {%>          
                <%  
                const roles = userInfo.userRole;
                if(roles.write === true || roles.edit === true || roles.admin === true ) {%>
                    <a id="js-itemWrite" class="ht-btn btn-outline-primary btn-white btn-insertItem" href="/item-manage-page/insert-item-page">
                        ✏️ 물품 등록
                    </a>
                <% } %>
                <a class="header-text" id="js-logout" href="javascript:logout();">로그아웃</a>
            <% } %>
        </div>
    </nav>
</header>