@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap);
@import url(./custom-button-and-input.css);

/* ========== 초기설정 ========== */
* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Kr", sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none
}

/* ========== end of 초기설정 ========== */

/* 가장 큰 영역 */
.main {}

/* 큰 영역 */
.container {
    margin-top: 50px;
}

/* 모서리를 둥글게 처리한 사각형 테두리 div*/
.roundBox {
    padding: 1.5rem;
    border-width: 1px;
    border-radius: 1rem;
    border-style: solid;
    border-color: rgb(35, 78, 112);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    box-sizing: border-box;
}

form.roundBox {}

.roundBox-yellow {
    padding: 1.5rem;
    border-width: 1px;
    border-radius: 1rem;
    border-style: solid;
    border-color: rgb(35, 78, 112);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 249, 215, 0.8);
    box-sizing: border-box;
}

/* 베이지색 사각형 */
.beigeBox {}



#exportfile {
    width: 35px;
    height: 35px;
}

.swal2-container.swal2-center>.swal2-popup {
    min-width: 512px;
    max-width: max-content;
}

/* JUI스타일 */
.jui table th,
td {
    font-size: larger;
    text-align: center !important;
}

.jui .paging {
    cursor: pointer;
}

.jui .paging .list>.active {
    background-color: rgb(64, 123, 168) !important;
    color: white !important;
}