<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ht-srms :: 로그인</title>
    <%- include("../libs/libsStyles.ejs") %>
    <link rel="stylesheet" href="/static/css/user/login.css">
</head>

<body>
    <%- include("../header.ejs") %>

    <section class="container">
        <form action="/login" method="post" class="loginForm roundBox" id="js-loginForm">
            <img src="/static/images/ht-SRMS square.png" alt="">

            <label for="userId">사번</label>
            <input type="text" id="js-userId" class="userId" name="userId" required>

            <label for="userPassword">비밀번호</label>
            <input type="password" id="js-userPassword" class="userPassword" name="userPassword" autocomplete="on" required>
            <span>사번 혹은 비밀번호가 틀립니다</span>
            <footer>
                <input type="submit" value="로그인">
                <input type="button" value="회원가입">
            </footer>
        </form>
    </section>

    <%- include("../libs/libsScript.ejs") %>
    <script type="module" src="/static/js/user/login-script.js"></script>
</body>

</html>