@charset "UTF-8";
@import url("./item-modify.css");

aside {}

aside>a>.item-manage {
    border-color: red;
    border-style: solid;
    background-color: rgb(255, 249, 215) !important;
    border-width: 0px 0px 0px 5px;
    color: black;
}

div.main {}

section>article.roundBox>.table-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
}

.table-header>div {
    margin-left: 13px;
}

.table-header input.small {
    height: 100% !important;
}

.table-header>div:nth-child(1) {}

.table-header>div:nth-child(2)>select {
    width: 150px;
}

.table-header>div:nth-child(3)>select {
    width: 150px;
}

.table-header>div:nth-child(4) {}

.table-header>div:nth-child(5) {
    margin-left: -3px;
}

.table-header>div:last-child {}

.table-header>div:last-child>:last-child {
    margin-left: -4px;
}

.table-header>.btn-group>label {
    padding-top: 0.06rem;
    padding-right: 0.75rem;
    padding-bottom: 0.06rem;
    padding-left: 0.75rem;
}

article.jui>footer {
    display: flex;
    width: 100%;
    align-items: center;
}

article.jui>footer>:first-child {
    flex: 20
}

article.jui>footer>.paging {
    flex: 60
}

article.jui>footer>:last-child {
    flex: 20;
}

article.jui>footer>:last-child a {
    float: right;
}

article.jui>footer>:last-child a>img {
    width: 35px;
}