@charset "UTF-8";

aside {}

aside>a>.item-manage {
    border-color: red;
    border-style: solid;
    background-color: rgb(255, 249, 215) !important;
    border-width: 0px 0px 0px 5px
}

aside>a.item-manage {
    color: black;
}

div.main {}

section>article.roundBox>.table-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
}

.table-header>div {
    margin-left: 13px;
}

.table-header input.small {
    height: 100% !important;
}

.table-header>div:nth-last-child(2){
    margin-left: -3px;
}