@charset "UTF-8";

aside {}

aside>a>.item-manage {
    border-color: red;
    border-style: solid;
    background-color: rgb(255, 249, 215) !important;
    border-width: 0px 0px 0px 5px;
    color: black;
}

div.main {}

section>article.roundBox>.table-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
}

.table-header>div {
    margin-left: 13px;
}

.table-header input.small {
    height: 100% !important;
}

.table-header>div:nth-child(1) {}

.table-header>div:nth-child(2)>select {
    width: 150px;
}

.table-header>div:nth-child(3)>select {
    width: 150px;
}

.table-header>div:nth-child(4) {}

.table-header>div:nth-child(5) {
    margin-left: -3px;
}

.table-header>div:nth-last-child(1) {
}

.table-header>.btn-group>label {
    padding-top: 0.06rem;
    padding-right: 0.75rem;
    padding-bottom: 0.06rem;
    padding-left: 0.75rem;
}