section.item-modify-modal-overlay {}

section.item-modify-modal-overlay>form {}

section.item-modify-modal-overlay tbody>tr:nth-child(1)>td:last-child>:first-child,
section.item-modify-modal-overlay tbody>tr:nth-child(2)>td:last-child>:first-child {
    flex: 6;
}

section.item-modify-modal-overlay tbody>tr:nth-child(1)>td:last-child>:last-child,
section.item-modify-modal-overlay tbody>tr:nth-child(2)>td:last-child>:last-child {
    flex: 4;
    margin-left: 10px;
}

section.item-modify-modal-overlay tbody>tr:nth-child(6)>td:last-child {
    display: flex;
    flex-direction: column;
    min-height: 37px;
}

section.item-modify-modal-overlay tbody>tr:nth-child(6)>td:last-child>input.item-id {
    min-height: inherit;
}

section.item-modify-modal-overlay tbody span.check-alarm1 {
    display: inline;
    color: slategrey;
    font-size: 13px;
}