@charset "UTF-8";

aside {}

aside>a>.allrent-status {
    border-color: red;
    border-style: solid;
    background-color: rgb(255, 249, 215) !important;
    border-width: 0px 0px 0px 5px;
    color: black;
}
